<footer class="footer">
  <small>
    Many thanks to <a href="http://www.michaelhartl.com/">Michael Hartl</a> who provides <a href="http://www.railstutorial.org/">Ruby on Rails Tutorial</a>
  </small>
</footer>